<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
    <meta charset="UTF-8">
    <title>Lunch statistics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
        }
        html, body, svg {
            background-color: #f5f5f5;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        .gh {
            position: absolute;
            bottom: 0;
            left: 1em;
        }
    </style>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
<p class="gh">Please <a class="github-button" href="https://github.com/stepek/codi-lunch-stats" data-icon="octicon-star" data-show-count="true" aria-label="Star stepek/codi-lunch-stats on GitHub">Star</a> this project. If you have any issues, please report it <a class="github-button" href="https://github.com/stepek/codi-lunch-stats/issues" data-icon="octicon-issue-opened" data-show-count="true" aria-label="Issue stepek/codi-lunch-stats on GitHub">Issue</a></p>
<svg id="chart"></svg>
<script>
  function formatDate(duration) {
    duration = moment.duration(duration)
    const hours = duration.hours();
    const minutes = duration.minutes();
    const seconds = duration.seconds();

    let result = '';

      result += `${hours.toString().length === 2 ? '': '0'}${hours}:`;
      result += `${minutes.toString().length === 2 ? '': '0'}${minutes}:`;
      result += `${seconds.toString().length === 2 ? '': '0'}${seconds}`;

    return result.trim();
  }
  function parseTime(timestamp) {
    const time = moment(timestamp);
    return time.milliseconds() + time.seconds() * 1000 + time.minutes() * 60 * 1000 + time.hours() * 60 * 60 * 1000
  }
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      const response = JSON.parse(this.response);
      const data = [];
      const timestamps = response.map(item => parseTime(item.timestamp));
      const minY = Math.min.apply(null, timestamps);
      const maxY = Math.max.apply(null, timestamps);

      data.push({
        values: response.filter(item => item.type.id === 'sushi').map(item => ({
            x: moment(item.timestamp).valueOf() - parseTime(item.timestamp),
            y: parseTime(item.timestamp)
          })
        ).sort((a, b) => a.x - b.x),
        avg: Math.round(response.filter(item => item.type.id === 'sushi').map(
          item => (parseTime(item.timestamp))
        ).reduce((a, b) => a + b)/response.filter(item => item.type.id === 'sushi').length),
        key: 'Mastersushi',
        color: "#f44336"

        },
        {
          values: response.filter(item => item.type.id === 'flanders').map(item => ({
              x: moment(item.timestamp).valueOf() - parseTime(item.timestamp),
              y: parseTime(item.timestamp)
            })
        ).sort((a, b) => a.x - b.x),
          avg: Math.round(response.filter(item => item.type.id === 'flanders').map(
            item => (parseTime(item.timestamp))
          ).reduce((a, b) => a + b)/response.filter(item => item.type.id === 'flanders').length),
          key: 'Flanders',
          color: "#3f51b5"
        },
        {
          values: response.filter(item => item.type.id === 'doSyta').map(item => ({
              x: moment(item.timestamp).valueOf() - parseTime(item.timestamp),
              y: parseTime(item.timestamp)
            })
        ).sort((a, b) => a.x - b.x),
          avg: Math.round(response.filter(item => item.type.id === 'doSyta').map(
            item => (parseTime(item.timestamp))
          ).reduce((a, b) => a + b)/response.filter(item => item.type.id === 'doSyta').length),
          key: 'Bistro do syta',
          color: "#9c27b0"
        },
        {
          values: response.filter(item => item.type.id === 'tudel').map(item => ({
              x: moment(item.timestamp).valueOf() - parseTime(item.timestamp),
              y: parseTime(item.timestamp)
            })
        ).sort((a, b) => a.x - b.x),
          avg: Math.round(response.filter(item => item.type.id === 'tudel').map(
            item => (parseTime(item.timestamp))
          ).reduce((a, b) => a + b)/response.filter(item => item.type.id === 'tudel').length),
          key: 'Tudel',
          color: "#4caf50"
        },
        {
          values: response.filter(item => item.type.id === 'rollo').map(item => ({
              x: moment(item.timestamp).valueOf() - parseTime(item.timestamp),
              y: parseTime(item.timestamp)
            })
        ).sort((a, b) => a.x - b.x),
          avg: Math.round(response.filter(item => item.type.id === 'rollo').map(
            item => (parseTime(item.timestamp))
          ).reduce((a, b) => a + b)/response.filter(item => item.type.id === 'rollo').length),
          key: 'Mr/Mrs Rollo',
          color: "#ffc107"
        },
        {
          values: response.filter(item => item.type.id === 'slimak').map(item => ({
              x: moment(item.timestamp).valueOf() - parseTime(item.timestamp),
              y: parseTime(item.timestamp)
            })
        ).sort((a, b) => a.x - b.x),
          avg: Math.round(response.filter(item => item.type.id === 'slimak').map(
            item => (parseTime(item.timestamp))
          ).reduce((a, b) => a + b)/response.filter(item => item.type.id === 'slimak').length),
          key: 'Ślimak',
          color: "#ff5722"
        });
      paint(data, minY, maxY)
      console.log(data)
    }
  };
  xhttp.open("GET", "https://codi-lunch-stats.herokuapp.com/events", true);
  xhttp.send();

  function paint(data, minY, maxY) {
    nv.addGraph({
      generate: function () {
        var width = nv.utils.windowSize().width - 40,
          height = nv.utils.windowSize().height - 40;
        var chart = nv.models.lineChart()
          .width(width)
          .useInteractiveGuideline(true)
          .height(height)
          .margin({top: 75, right: 75, bottom: 75, left: 75})
          .yDomain([minY, maxY]);
        chart.dispatch.on('renderEnd', function () {
        });
        chart.legend.key(
          function (d) {
            return `${d.key} | avg:${formatDate(d.avg)}`;
          }
        );
        chart.xAxis
          .tickFormat(function(d) {
            return d3.time.format('%d %b %y')(new Date(d))
          });
        chart.yAxis
          .tickFormat(function(d) {
            return formatDate(d)
          });
        d3.select('#chart')
          .attr('width', width)
          .attr('height', height)
          .datum(data)
          .call(chart);
        return chart;
      },
      callback: function (graph) {
        window.onresize = function() {
        var width = nv.utils.windowSize().width - 40,
          height = nv.utils.windowSize().height - 40,
          margin = graph.margin();
        if (width < margin.left + margin.right + 20)
          width = margin.left + margin.right + 20;
        if (height < margin.top + margin.bottom + 20)
          height = margin.top + margin.bottom + 20;
        graph.width(width).height(height);
        d3.select('#chart')
          .attr('width', width)
          .attr('height', height)
          .call(graph);
      };
    }
  });
  }
</script>
</body>
</html>
